name: CI

# on: [push, pull_request]
on: [repository_dispatch, workflow_dispatch]

jobs:
  test_sampling:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.13'

      # - name: Install dependencies
      #   run: |
      #     pip install transformers>=4.41.0
      #     pip install huggingface-hub>=0.20.0
      #     pip install torch>=1.11.0
      #     pip install numpy
      #     pip install scikit-learn
      #     pip install scipy
      #     pip install typing_extensions>=4.5.0
      #     pip install tqdm
      #     pip install datasets
      #     pip install accelerate>=0.20.3
      #     pip install pre-commit
      #     pip install pytest
      #     pip install pytest-cov
      #     pip install peft
      #     pip install Pillow
      #     # pip install transformers>=5.0.0rc0
      #     pip install model2vec

      - name: Install dependencies (transformers < 5.0.0)
        run: |
          # The --break-system-packages flag is used to allow pip to upgrade or install packages
          # even in environments where system-managed packages might otherwise block such operations.
          python -m pip install --upgrade pip --break-system-packages
          python -m pip install '.[train, onnx, openvino, dev]' 'transformers<5.0.0'

      - name: Install model2vec
        run: python -m pip install model2vec
        if: ${{ contains(fromJSON('["3.10", "3.11", "3.12", "3.13"]'), matrix.python-version) }}

      - name: Run tests
        run: python -m pytest --durations 20 -sv tests/
